services:
  samba:
    image: dperson/samba
    container_name: samba
    restart: always
    ports:
      - "139:139"
      - "445:445"
    volumes:
      - ${SHARED_FOLDER:?}:/mnt/shared
    environment:
      - TZ=Europe/Samara
      - USERID=${OWNER_USERID:?}  # UID вашего пользователя в Linux (id -u)
      - GROUPID=${OWNER_GROUPID:?} # GID вашего пользователя в Linux (id -g)

    command: >
      -u "${SMB_USER:?};${SMB_PASSWORD:?}"
      -s "${READONLY_NET_NAME:?};/mnt/shared;yes;yes;yes"
      -s "${NET_NAME:?};/mnt/shared;yes;no;no;${SMB_USER:?}"
