NEXTCLOUD_DATABASE=nextcloud-db
DATABASE_USER=nextcloud
DATABASE_PASSWORD=password
DATABASE_ROOT_PASSWORD=another_password
PATH_TO_FOLDER=/path/to/folder/

NEXTCLOUD_ADMIN=admin
NEXTCLOUD_PASSWORD=password
NEXTCLOUD_DOMAIN=cloud.domain.ru
