**/.env
!.env.example

syncthing/config/*

transmission/config/*

proxy/nginx/conf.d/default.conf
proxy/nginx/logs/*
proxy/ssl/conf/*
proxy/ssl/www/*
proxy/ddns/domains.txt

gitea/data/*
gitea/db
gitea/config/*

matrix/data/*
matrix/db

cloud/db
cloud/data
cloud/config

memos/memos/*.db
memos/memos/*.db-wal
memos/memos/*.db-shm

!.keep
