**/.env
!.env.example

syncthing/config/*

transmission/config/*

proxy/nginx/init/default.conf
proxy/nginx/conf.d/default.conf
proxy/ssl/conf/*
proxy/ssl/www/*

gitea/data/*
gitea/db/*
gitea/config/*

!.keep
