**/.env
!.env.example

syncthing/config/*

transmission/config/*

proxy/nginx/conf.d/default.conf
proxy/ssl/conf/*
proxy/ssl/www/*
proxy/ddns/domains.txt

gitea/data/*
gitea/db
gitea/config/*

matrix/data/*
matrix/db

cloud/filebrowser.db

!.keep
